html {
  height: 100%;
}

body {
  flex-direction: column;
}
/* Style for site name */
header h1 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #333;
}

/* Adjust Navbar Items */
.navbar-nav .nav-link {
  color: #555;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Icons Button Style */
.btn-light {
  border: none;
  padding: 10px;
  font-size: 1.2rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  header .form-control {
    width: 200px;
  }
}

/* Sidebar Styles */
.sidebar {
  height: 100vh; /* Full height of the viewport */
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure position is relative for absolute child positioning */
}

/* User Image Style */
.sidebar .rounded-circle {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: auto;
}

/* Navigation Style */
.sidebar .nav-link {
  color: #555;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 15px;
  transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
  background-color: #007bff;
  color: white;
}

/* Icon style */
.sidebar .nav-link i {
  font-size: 1.2rem;
}

/* Logout Button Style */
.sidebar .btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  font-size: 1rem;
}

/* Positioning Logout Button at the Bottom */
.sidebar .position-absolute {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer Styling */
footer {
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text color */
}

/* Footer Links */
footer a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #007bff; /* Change color on hover */
}

/* Social Media Icons */
footer .fab {
  font-size: 1.5rem;
}

footer .d-flex li {
  display: inline;
}

footer .me-3 {
  margin-right: 15px; /* Space between icons */
}

/* Form Card Styling */
.main-content {
  flex-grow: 1; /* This ensures the main content area stretches to take available space */
}
.card {
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

/* Form Title Styling */
h3 {
  font-weight: bold;
}

/* Input Fields Styling */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  border-radius: 10px;
  padding: 12px;
}

.form-label {
  margin-bottom: 0.2rem;
}
